
body {
  background-color: black;
}


.container {
  /* Center vertically and horizontally */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.child {
  align-self: center;
  width: 200px;
  height: 35px;
  
}

p {
  color: white;
}

/* 
Left off Js working, commit and then add a background image.
*/